:root {
    --green: rgb(0, 170, 126);
    --grey: #f6f6f6;
    --white: #fff;
    --black: #000;
}
body {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    background-color: var(--grey);
}
p {
    margin: 0;
}
h2 {
    font-size: 36px;
    font-weight: 800;
    text-align: center;
}
h3 {
    height: 65px;
    padding-left: 10px;
    margin-bottom: 25px;
    display: flex;
    align-items: center;
    grid-column: span 2;
    color: var(--white);
    background-color: var(--green);
    font-size: 24px;
    font-weight: 800;
}
h4 {
    text-align: center;
    width: 55%;
    font-size: 24px;
    font-weight: 800;
}
h5 {
    margin-bottom: 35px;
    font-size: 16px;
    font-weight: 700;
}
.container {
    width: 1175px;
    padding: 0;
}
.nav-a {
    font-size: 18px;
    font-weight: 700;
    color: var(--black);
    text-decoration: none;
}
.nav-a:hover {
    color: var(--black);
    font-size: px;
}
.element {
    display: grid;
    grid-template-columns: repeat(4, 275px);
    grid-auto-rows: 275px;
    gap: 25px;
}
.content {
    /* width: 550px; */
    grid-column: span 2;
}
.img-50 {
    width: 275px;
}
.button {
    width: 180px;
    height: 60px;
    color: var(--black);
    background-color: var(--white);
    font-size: 16px;
    font-weight: 800;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
.button:hover {
    color: var(--green);
}
.h5-long {
    margin-bottom: 65px;
}
.color-white {
    color: var(--white);
}
.h3-grid {
    display: grid;
    grid-template-columns: repeat(4, 275px);
    gap: 25px;
}
.download-break {
    height: 140px;
    align-items: center;
}
.button-right {
    display: flex;
    justify-content: flex-end;
}
.button-border {
    height: 62px;
    width: 188px;
    border: solid 6px var(--green);
}
#header-block {
    height: 30px;
    background-color: var(--black);
}
#header-nav {
    height: 85px;
    background-color: var(--white);
    border-bottom: 2px solid #f0f0f0;
}
nav {
    width: 50%;
}
#header-logo {
    height: 75px;
}
#header-banner {
    height: 665px;
    background-image: url("../img/baner-główny.jpg");
    margin-bottom: 80px;
}
h1 {
    width: 60%;
    margin-left: 60px;
    color: var(--white);
    font-size: 40px;
    font-weight: 600;
}
strong {
    font-weight: 800;
}
#h1-border {
    border: solid 8px var(--green);
    padding: 16px 24px 16px 24px;
    display: inline-block;
}
#gradient1 {
    background-image: url("../img/gradient1.png");
    background-size: contain;
    color: var(--white);
    text-align: center;
}
#big-number {
    font-size: 72px;
    font-weight: 800;
}
#break1 {
    margin-top: 110px;
}
.break {
    margin-top: 40px;
    height: 225px;
    background-color: var(--green);
    color: var(--white);
}
.em-black {
    color: var(--black);
    font-style: normal;
}
#advantages {
    height: 750px;
    background-image: url("../img/tło-korzyści.jpg");
}
#advantages-grid {
    display: grid;
    grid-template-columns: repeat(4, 275px);
    grid-auto-rows: 275px;
    gap: 25px;
}
#advantages-h2 {
    margin-top: 55px;
}
.adv-square {
    border: solid 5px var(--white);
    color: var(--white);
    font-size: 24px;
    font-weight: 800;
    text-align: center;
}
.advantage-p {
    display: inline-block;
    width: 80%;
}
.img-span-2 {
    grid-column: span 2;
}
#gradient2 {
    color: var(--white);
    text-align: center;
    background-image: url("../img/gradient2.png");
    background-size: cover;
}
#advantage-content {
    height: 205px;
    padding: 40px 30px 0 30px;
    background-color: var(--white);
}
#solutions {
    padding-top: 95px;
    padding-bottom: 40px;
    background-color: var(--white);
}
#solutions-h2 {
    margin-bottom: 70px;
    border: solid 8px var(--green);
    padding: 30px;
}
#break2 {
    height: 225px;
    margin-bottom: 100px;
    color: var(--white);
    background-image: url("../img/tlo-cta-edit.png");
    background-repeat: round;
}
#break2-h4 {
    width: 40%;
}
#solutions-grey {
    padding-top: 100px;
}
#casestudy {
    padding: 55px 0 100px 0;
}
#casestudy-grid {
    height: 555px;
    margin: 120px 0 100px 0;
    display: grid;
    grid-template-columns: repeat(2, 575px);
    gap: 25px;
}
#casestudy-hidden-author {
    font-size: 16px;
    color: var(--black);
    font-weight: 400;
}
.green-p {
    color: var(--green);
    font-size: 24px;
    font-weight: 700;
}
.casestudy-h5 {
    margin: 32px 0 16px 0;
}
ul {
    list-style: none;
}
ul li::before {
    content: "\2022"; /* Add content: \2022 is the CSS Code/unicode for a bullet */
    color: var(--green); /* Change the color */
    font-weight: 800; /* If you want it to be bold */
    display: inline-block; /* Needed to add space between the bullet and the text */
    margin-left: -11px; /* Also needed for space (tweak if needed) */
}
#download {
    height: 880px;
    background-image: url("../img/tłotło-formularz.jpg");
}
#download-grid {
    height: 555px;
    display: grid;
    grid-template-columns: repeat(2, 575px);
    gap: 25px;
}
#download-h2 {
    margin: 85px 0 100px 0;
    color: var(--white);
}
#download-p {
    color: var(--white);
    font-size: 24px;
}
.input-text {
    height: 64px;
    width: 100%;
    border: none;
    margin-bottom: 16px;
    padding-left: 20px;
}
.checkbox-wrapper {
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: 1em auto;
    gap: 0.5em;
}
label {
    color: var(--white);
    font-size: 14px;
}
.form-check-input[type="checkbox"] {
    width: 20px;
    height: 20px;
    border-radius: 0%;
}
footer {
    font-family: "Lato";
}
#footer-content {
    background-color: #1f2024;
    color: #aaa;
    font-size: 13px;
}
#footer-popular {
    min-width: 370px;
    padding: 0 15px 0 15px;
}
.footer-h3 {
    padding: 0;
    color: #fff;
    font-size: 23px;
    background-color: inherit;
    position: relative;
}
.footer-h3::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 70px;
    height: 1px;
    background-color: #b0d136;
}
#footer-ul > li {
    color: #fff;
    font-weight: 700;
    padding-bottom: 10px;
    font-size: 14px;
}
#footer-bottom {
    padding: 20px 0 20px 0;
    background-color: #161619;
    color: #fff;
    font-size: 13px;
}
