@media screen and (max-width: 1399.98px) {
    nav {
        width: 70%;
    }
    .container {
        max-width: 1175px;
    }
    .element {
        grid-template-columns: repeat(4, 275px);
        grid-auto-rows: 275px;
        gap: 25px;
    }
}
@media screen and (max-width: 1199.98px) {
    .container {
        width: 65vw;
    }
    #header-banner,
    #header-nav > .container {
        width: 80vw;
    }
    #header-banner {
        background-size: cover;
        position: relative;
        height: 500px;
    }
    h1 {
        width: 50%;
    }
    .element {
        grid-template-columns: repeat(2, 275px);
        grid-auto-rows: 275px;
        /* justify-content: start; */
        gap: 25px 100px;
    }
    .button-right {
        display: flex;
        align-items: center;
        height: 100%;
        width: 650px;
        display: grid;
    }
    .img-span-2 {
        height: 275px;
    }
    #advantages-grid {
        width: 80vw;
        grid-template-columns: repeat(4, calc((80vw - 75px) / 4));
        grid-auto-rows: calc((80vw - 75px) / 4);
        gap: 25px;
    }
    .advantage-p {
        width: 100%;
    }
    .adv-square {
        font-size: 18px;
    }
    #gradient2 {
        font-size: 14px;
    }
    #advantage-content {
        font-size: 14px;
    }
    #casestudy-grid {
        width: 825px;
        height: 700px;
        margin: 120px 0 100px 0;
        display: grid;
        grid-template-columns: repeat(2, 400px);
        gap: 25px;
    }
    #download-grid {
        width: 825px;
        /* height: 700px; */
        margin: 120px 0 100px 0;
        display: grid;
        grid-template-columns: repeat(2, 400px);
        gap: 25px;
    }
    #download-h2 {
        margin-bottom: 0px;
    }
}
@media screen and (max-width: 991.98px) {
    .container,
    .button-right {
        width: 575px;
    }
    .element,
    .element-right {
        justify-content: center;
        gap: 25px;
    }
    nav {
        width: 100%;
    }
    #header-banner {
        background-position: center;
    }
    h1 {
        font-size: 28px;
    }
    #advantages {
        height: 1000px;
    }
    #advantages-grid {
        justify-content: center;
        grid-template-columns: repeat(2, 200px);
        grid-auto-rows: 200px;
        gap: 25px;
    }
    #advantage-content {
        height: 300px;
    }
    #casestudy {
        height: 1600px;
    }
    #casestudy-grid {
        grid-template-columns: 575px;
        gap: 100px;
        justify-content: center;
    }
    #casestudy-grid-el1 {
        height: 500px;
    }
    #download {
        height: 1100px;
    }
    #download-grid {
        grid-template-columns: 575px;
        gap: 100px;
        justify-content: center;
    }
}
